@import "../../theme";

.similar {
  max-width: 100%;

  .testimonial-group {
    max-width: 100%;
  }
}

.similar span {
  vertical-align: top;
}

.itemsForUser {
  max-width: 100%;

  .testimonial-group {
    max-width: 100%;
  }
  padding-bottom: 20px;
}

.testimonial-group {
  >.row {
    overflow-x: auto;
    overflow: -moz-scrollbars-horizontal;
    white-space: nowrap;

    >.col-xs-12 {
      display: inline-block;
      float: none;
    }
  }
}
